<%- include("partials/header"); -%>
    <%= success%>
        <h1>Compose</h1>
        <form class="" action="/compose" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="postTitle">
                <label>Post</label>
                <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" id="img">
                    <img src="#" id="imgPreview">
                </div>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </form>
        <script>
            //this script is use for preview the image in frontend
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $("#imgPreview").attr('src', e.target.result).width(100).height(100);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#img").change(function() {
                readURL(this);
            });
        </script>

        <%- include("partials/footer"); -%>